* {
	font-size: 20px;
	padding:0;
	margin:0;
	box-sizing: border-box;
}
a {
	color: white;
}
.navbar {
	background-color: #000;
	color: #d8d8d8;
	border-bottom: 0.5px solid gray;
	width: 100%;
	line-height:80px;
	height:80px;
	font-size: 24px;
	padding: 0 30px;
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Allerta Stencil', sans-serif;
}
p { color: #808080; }
.navbar a {
	text-decoration: none;
	color: #d8d8d8;
	font-size: 24;
}
.navbar a.nav-logo {
	float: left;
	height: inherit;
	line-height: inherit;
	padding: 0 30px;
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: 'Allerta Stencil', sans-serif;
	color: #d8d8d8;
	font-weight: bold;

}
.navbar ul {
	float: right;
	list-style: none;
	height: inherit;
	line-height: inherit;
	padding: 0 50px;
}
.navbar ul li {
	display: inline-block;
}
.navbar ul li a {
	display: block;
	text-align: center;
	/*min-width: 120px;*/
	padding: 0 30px;
}
body {
	background-color: #000;
}
.content {
	font-family: 'Allerta Stencil', sans-serif;
	color: #d8d8d8;
	margin-top: 160px;
	margin-left: 60px;
	position: relative;
}
.photos {
	margin-top:  160px;
}
h1 {
	font-size: 70px;
}
p {
	margin-top: 10px;
}
main {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.btns {
	margin-top: 20px;
	background-color: #d8d8d8;
	cursor: pointer;
	color: #191919;
	padding: 12px 20px;
	float: left;
	border: 0;
	border-radius: 20px;
	margin-left: 10px;
}
.btns:hover {
	background-color:#848482;
}
img {
	float: left, top;
	/*margin-top: 80px;*/
	position: relative;
	margin-left: 50px;
	width: 600px;
	transition: 1s;
	filter:grayscale(1);
}
img:hover {
	transition: 1s;
	filter: grayscale(0);
	cursor: pointer;
}
@media screen and (max-width: 600px) {
  * {
	font-size: 32px !important;
  }
}
